.asideBoxSection {
    display: none;
    margin-top: 51px;
}
.placed {
    float: right;
    margin-top: -5px;
}
.asideBoxMenu {
    padding: 15px;
    display: inline-block;
    margin-bottom: 200px;
    background-color: #e9e9e9;
}

.asideBoxMenu h3 {
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #666666;
    color: white;
}

.asideBoxMenu p {
    margin-bottom: 30px;
}

.baton {
    display: none;
}

.asideButton {
    display: block;
    float: right;
    margin-bottom: 35px;
}


.asideBoxPanel {
    height: 590px;
    overflow-y: scroll;
}