.filter_category {
    color: white;
    /*text-shadow: #0f4e98;*/
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 200;
    float: left;
    background-color: #0f4e98;
    border-radius: 5px;
    opacity: 0.9;
}
