.popUp {
    display: none;
    position: absolute;
    top: 100px;
    z-index: 10;
    height: 500px;
    background-color: #fff;
    opacity: 0.85;
}

.closingCross {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    color: black;
    font-size: 2em;
}

.closingCross p {
    line-height: 0;
}

.closingCross p:hover {
    cursor: pointer;
}

.logInHeader p {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
}

.logInHeader {
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}

@media only screen and (max-width: 500px) {
    .logInHeader p {
        font-size: 1.75em;
        padding-bottom: 5px;
    }
}

.popUpFooter {
    display: inline-block;
    width: 100%;
    margin-top: 205px;
}

.popUpFooter p {
    text-align: center;
}

.fb-login-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.fb-login-button button {
    text-align: center;
}

.linkToRegulations a {
    cursor: pointer;
}

#gSignInWrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}


#customBtn {
    display: inline-block;
    background: #dd4B39;
    color: white;
    width: 285px;
    white-space: nowrap;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-weight: bold;
}
span.icon {
    background: url('../images/gg_button.svg') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border-right: #dd4B39 1px solid;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
