
header {
    background-color: #1477d7;
    box-shadow: 5px 0 5px #072443;
    margin-bottom: 20px;
}

body{
    padding-bottom: 50px;
}


.container div h3 {
    color: white;
    font-weight: 100;
    float: left;
}
.social {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.social > a {
    margin-left: 10px;
}

.social a:hover {
    text-decoration: none;
}

.social img:hover {
    transform: scale(1.2,1.2);
}

h3 > span {
    font-size: 0.5em;
    vertical-align: super;
}

.logout {
    float: right;
    border: 1px solid white;
    height: 25px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.8em;
}
.logout:hover {
    border: 1px solid #0f4e98;
}
.logout > p {
    color: white;
    text-align: center;
    line-height: 25px;
}
.logout > p:hover {
    color: #0f4e98;
}

@media (max-width: 625px) {
    h3 > span {
        display: none;
    }
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #0f4e98;
    z-index: 999;
}

.kontener {
    width: 100%;
}
.kontener div h6 {
    color: white;
    font-weight: 100;
    text-align: center;
}
a.fc-event {
    cursor: pointer;
}

.container-fluid {
    margin-bottom: 15px;
}

.container-fluid:last-of-type {
    margin-bottom: 0;
}